.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 10vh;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background: #e8630a;
    margin-bottom: 20px;
}

.explore-button {
    color: white !important;
}

.logo {
    color: white;
    font-weight: bolder;
    font-size: 2rem;
  
}

.login-btn {
    background-color: aliceblue;
    color: black;
    padding: 0.3rem 1rem;
    border-radius: 6px;
    border-color: aliceblue;
}

button:active {
    background-color: #2b4353; /* Green */
    color: white;
  }