.content {
    background-image: url("https://images.creativemarket.com/0.1.0/ps/8179919/1820/1213/m1/fpnw/wm1/xivfroscljtcfbv479rnw8ph3e7k5hea9uj7rp18deswpmvup4w66taxgcuum1f8-.jpg?1587497992&s=86646027d7fb412febc64f312d01c79a");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh; 
    justify-content: center;
   
  }


  .hero-heading {
    color: orange;
    font-size: 1.5rem;
    width: 80%;
    font-weight: bolder;
    margin-left: 10%;
    font-size: 4rem;
  }

  .landing-text {
    padding-top: 8rem;

  }
  
  @media screen and (max-width: 450px) {
    
  .hero-heading {
    color: #fff;
    font-size: 2rem;
  
    font-weight: bolder;
  
 
  }

    }
    
 